
<h1>Inventario de Productos</h1>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">CODIGO</th>
        <th scope="col">NOMBRE GENÉRICO</th>
        <th scope="col">NOMBRE COMERCIAL</th>
        <th scope="col">LABORATORIO</th>
        <th scope="col">CATEGORIA</th>
        <th scope="col">STOCK</th>
      </tr>
    </thead>
    <tbody class="details-table">
      <tr *ngFor = "let inv of inventario">
        <td>{{inv.codigo}}</td>
        <td>{{inv.generico}}</td>
        <td>{{inv.comercial}}</td>
        <td>{{inv.laboratorio}}</td>
        <td><span class="badge badge-dark">{{inv.categoria}}</span></td>
        <td>{{inv.stock}}</td>
      </tr>
    </tbody>
</table>

